/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(180deg, #009688 20%, #d9dbd4 20%, #d9dbd4 50%);
    background-repeat: no-repeat;
    overflow-y: hidden;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

#root {
    height: 100vh;
}

/* *** finestra della chat *** */

.container {
    width: 80%;
    height: 95%;
    margin: 20px auto;
    box-shadow: 5px 10px 18px #888888;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container .col-sx .icons > i,
.container .col-dx .icons > i {
    margin-right: 5px;
    color: #b1b1b1;
    font-size: 20px;
}


/* *** colonna di sinistra *** */

.container .col-sx {
    width: 40%;
    height: 100%;
    float: left;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.profile,
.chat  {
    height: 70px;
    padding: 10px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .avatar {
    display: flex;
    align-items: center;
}

.container .col-sx .notifica {
    height: 70px;
    padding: 10px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.container .col-sx .notifica .bell {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #f2fbff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .col-sx .notifica .bell i {
    color: #8edafc;
    font-size: 25px;
}

.notifica .bell-text p:last-child {
    color: grey;
    font-size: 14px;
    text-decoration: underline;
}

.container .col-sx .search {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eaeaea;
}

.search .searchbar {
    display: flex;
}

.search .searchbar .zoom {
    width: 15%;
    height: 30px;
    border-right: 1px solid #eaeaea;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}

.zoom > i {
    color: #b1b1b1;
    font-size: 15px;
}

#input {
    width: 85%;
    border: none;
    padding: 5px;
}

.contacts {
    overflow-y: scroll;
}

.contacts ul {
    list-style: none;
}

.contacts ul li {
    height: 70px;
    border-top: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
    padding-left: 10px;  
}

.contacts ul li:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
    background-color: #e7f0e4;
}

.active {
    background-color: #e9ebeb;
}

/* *** colonna di destra *** */
.container .col-dx {
    width: 60%;
    height: 100%;
    float: left;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat i {
    width: 5%;
    margin-left: 20px;
    font-size: 20px;
    color: grey;
}

#chat {
    flex-grow: 1;
    border: none;
    padding: 5px;
}

/* *** messaggi *** */
.col-dx .messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.messages-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;
}

.sent {
    width: 250px;
    padding: 10px;
    line-height: 1.6;
    background-color: #d5f9ba; 
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
}

.sent::after {
    content: "\f560";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    color: #31ade5;
    position: absolute;
    right: 5px;
    bottom: 2px;
    animation-name: viewed;
    animation-duration: 500ms;
}

.received {
    width: 250px;
    background-color: #ffffff; 
    border-radius: 10px;
    padding: 10px;
    line-height: 1.6;
    align-self: flex-start;
}

.message-date {
    color: grey;
    font-size: 11px;
    text-align: right;
    margin-bottom: 5px;
}

/* *** debug *** */
/* .container {
    height: 700px;
    background-color: aliceblue;
} */

/* .container .col-sx {
    background-color: lightblue; 
} */
